<div style="background-image: url('https://i.pinimg.com/474x/74/43/27/744327b2f1016a2cdb2720226cdb5b9a.jpg');   background-size: cover;">
    <div class="container" style=" background-color: rgba(19, 18, 18, 0.514);  color: rgba(25, 25, 26, 0.795); padding: 60px;">
        <div style="text-align: center;">
            <img src="./assets/logo.png" alt="" width="90" height="90" style="padding: 20px;">
            <h1><b>Login</b></h1>
        </div>
        <form action="" class="formularioLogin">            

            <div class="div_inputs">
                <div>
                    <label for=""><b>Correo</b></label>
                </div>
                <div>
                    <input class="form__field" type="email" name="">
                </div>
            </div>

            <div class="div_inputs">
                <div>
                    <label for=""><b>Contraseña</b></label>
                </div>
                <div>
                    <input class="form__field" type="password" name="">
                </div>
            </div>     

            <div style="text-align: center;">                
                <input type="checkbox" name="" id="">
                <p>Recuerdame</p>
                
            </div>            


            <div style="margin: 30px; display: block; text-align: center;">
                <input type="button" value="Iniciar sesion" style="
                background-color: #aa6804; /* Green */
                border: none;
                color: rgb(14, 13, 13);
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                ">
            </div>     

        </form>


    </div>    
</div>