@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@600&family=Lobster&display=swap');



.form__field{
    width: 100%; 
    border: 0;
    background-color: rgba(7, 7, 7, 0);
    border-bottom: 2px solid rgb(214, 212, 212);
    outline: 0;
    color: aliceblue;
    height: 40px;
}


.form__field:hover {                
    border-bottom: 2px solid rgb(46, 209, 14);
    
}

.div_inputs{
    margin: 30px; display: block;
}

.formularioLogin{
    padding-left: 60px; 
    padding-right: 60px; 
    font-size: 24px; 
    color: rgb(214, 212, 212);
}

@media only screen and (max-width: 700px)
{
  .formularioLogin{
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px
  }
}
