<div style="margin:50px;  text-align: center;">
    <div>
        <h1>Editar usuario</h1>
    </div>
    <div class="col-sm-6 offset-3 mt-5">

    <form [formGroup]="formUser" (ngSubmit)="actualizaDatos(datosUsuario.id)">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <input type="text" formControlName="nombre" placeholder="Nombre" class="form-control">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="mb-3">
                    <input type="text" formControlName="descripcion" placeholder="Descripcion"  class="form-control">
                </div> 
            </div>

        </div>
       
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <input type="number" formControlName="precio" placeholder="Precio"  class="form-control">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="mb-3">
                    <input type="number" formControlName="cantidad" placeholder="Cantidad"  class="form-control">
                </div>

            </div>
        </div>     
        
        
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <input type="number" formControlName="cantidad_min" placeholder="Cantidad_min" class="form-control">
                </div> 
            </div>

            <div class="col-sm-6">
                <div class="mb-3">
                    <select  formControlName="categorias" placeholder="Categorias" class="form-control">
                        <option value="Cocina">Cocina</option>
                        <option value="Bebida">Bebida</option>
                        <option value="Postre">Postre</option>
                       
                    
                      </select>
                   
                </div>
            </div>
        </div>

            
        <div>
            <button type="submit" class="btn btn-success">Actualizar</button>
        </div>
        
        
        
    </form>
        
</div>
</div>