<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img class="bi me-2" width="160" height="160" src="./assets/logo.png" alt="">        
        
      </a>

      <ul class="nav nav-pills opcionesWeb" style="align-items: center; align-self: center; align-content: center;">
        <li class="nav-item"><a [routerLink]="['home']" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a [routerLink]="['login']" class="nav-link">Login</a></li>
        <li class="nav-item"><a [routerLink]="['registro']" class="nav-link">Registro</a></li>
        <li class="nav-item"><a [routerLink]="['productos']" class="nav-link">Promociones</a></li>
        <li class="nav-item"><a [routerLink]="['sobreNosotros']" class="nav-link">Sobre nosotros</a></li>
        <li class="nav-item"><a [routerLink]="['crud']" class="nav-link">Crud_Menu</a></li>

      </ul>


     
    </header>
</div>
<div class="container" style="padding-bottom: 10px;">
  <ul class=" nav nav-pills opcionesMovil">
    <li class="nav-item"><a [routerLink]="['home']" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a [routerLink]="['login']" class="nav-link">Login</a></li>
      <li class="nav-item"><a [routerLink]="['registro']" class="nav-link">Registro</a></li>
      <li class="nav-item"><a [routerLink]="['productos']" class="nav-link">Promociones</a></li>
      <li class="nav-item"><a [routerLink]="['sobreNosotros']" class="nav-link">Sobre nosotros</a></li>
      <li class="nav-item"><a [routerLink]="['crud']" class="nav-link">Crud_Menu</a></li>

  </ul>
</div>