<div class="container">
    
    <div>
        <h1 style="color: blue;">Sobre Nosotros</h1>
    </div>

    <div style="padding-bottom: 30px;">
        Nuestra plaza comercial ofrece una gran variedad de comidas con toda la calidad que nos respalda. 
    </div>
    
    <div style="padding-bottom: 30px;">
        Con el objetivo de brindar alimentos con la mejor higiene y calidad, ademas de ofrecer un menu para todo tipo de gente.
        <div>        
            <button
            style="
            border-radius: 3px;
            margin: 4px;
            padding: 3px;
            background-color: #3924f3; /* Green */
            border: none;
            color: white;"
            >Bienvenidos </button>
        </div>
    </div>

    <div style="padding-bottom: 30px;">
        .
    </div>

    <div>
    </div>

</div>