<div class="container">
    
    <div>
        <h1 style="color: blue;">Sobre Nosotros</h1>
    </div>

    <div style="padding-bottom: 30px;">
        La empresa AppEscuela brinda cursos online para nivel primaria con organizacion especializados en cursos en distints grados. 
    </div>
    
    <div style="padding-bottom: 30px;">
        Con el objetivo de brindar al usuario una experiencia de compram un cursos para sus hijos y que sea sencilla y sin salir de su casa, ofrecemos también el servicio de venta en-línea* exclusivamente a través de https://aap-escuela.vercel.app/home en donde nuestros clientes pueden adquirir cursos de primaria  de alta calidad a un precio competitivo y con entregas en cualquier domicilio dentro de la República Mexicana.
        <div>        
            <button
            style="
            border-radius: 3px;
            margin: 4px;
            padding: 3px;
            background-color: #3924f3; /* Green */
            border: none;
            color: white;"
            >Visita https://app-escuela.vercel.app/home</button>
        </div>
    </div>

    <div style="padding-bottom: 30px;">
        En https://app-escuela.vercel.app/home estamos convencidos de que, además de la calidad de los cursos de primaria son de gran utilidad el servicio es de vital importancia para nuestros clientes por lo que contamos con un amplio inventario y utilizamos los servicios de mensajerías más reconocidos para poder llegar lo antes posible hasta el último rincón del país.
    </div>

    <div>
        <b>IMPORTANTE:</b> https://app-escuela.vercel.app/home funciona como una entidad separada a las tiendas de autoservicio FIX, por lo que toda compra realizada a través de la tienda en-línea https://app-escuela.vercel.app/home será únicamente válida para entregas a domicilio. Por el momento las compras realizadas en https://app-escuela.vercel.app/home NO podrán ser recolectadas en las tiendas de autoservicio FIX, y de la misma manera, las compras realizadas en las tiendas de autoservicio FIX, no pueden ser enviadas a domicilio. El servicio de https://app-escuela.vercel.app/home es exclusivo para envíos a domicilio.
    </div>

</div>