<div style="width: 100%; height: auto; ">
  <div style="width: 100%;">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/slider1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/slider2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/slider3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
  </div>

  <div style="max-width: 100%; text-align: center; padding-top: 30px;">
    <h1>
     Cursos por salir
    </h1>
  </div>  

  <div class="container-cursos">         
    <div class="container">
      
      <div class="cursos">
        <div style="max-width: 100%; height: 200px; overflow: hidden;">
          <img   src="./assets/curso1.jpg"  alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="cursos-datos">
          <div class="datosCursoUno">
            <h3>Precio:</h3>
            <p>$1000</p>                        
          </div>
        </div>
      </div>  
    </div>    
    <div class="container">            
      <div class="cursos">
        <div style="max-width: 100%; height: 200px; overflow: hidden;">
          <img src="./assets/curso2.jpg" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="cursos-datos">
          <div class="datosCursoUno">
            <h3>Precio:</h3>
            <p>$1000</p>                        
          </div>                                                                
        </div>
      </div>  
    </div>   
    <div class="container">     
      <div class="cursos">
        <div style="max-width: 100%; height: 200px; overflow: hidden;">
          <img src="./assets/curso3.jpg" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="cursos-datos">
          <div class="datosCursoUno">
            <h3>Precio:</h3>
            <p>$1000</p>                        
          </div>                                                                          
        </div>
      </div>  
    </div>   
  </div>


  

  <div class="container" style="text-align: center; padding: 40px;">

    <button type="submit" style="
      background-color: #aa5404; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      ">Registrate Ahora</button>
  </div>
</div>